{% import "_includes/forms" as forms %}

{{ forms.textField({
	first: true,
	label: "Site Name"|t,
	id: 'siteName',
	name: 'siteName',
	instructions: "The name of your site; this name will appear after the Titles of your pages in the &lt;title&gt; tag."|t,
	value: settings.siteName,
	autofocus: true,
	errors: settings.getErrors('siteName')
}) }}

{{ forms.textAreaField({
	label: "SEO Meta Description"|t,
	id: 'siteDescription',
	name: 'siteDescription',
	instructions: "Default Meta Description"|t,
	value: settings.siteDescription,
	errors: settings.getErrors('siteDescription')
}) }}
